html{
  background-color: #212529;
}

.container-footer{
  position:absolute;
  bottom: 0;
  color:aqua;
  bottom: 0px;
}

.card-dolar{
  border-color: #B3FF85;
  border-width: medium;
  /* box-shadow: 3px 2px 2px 3px rgba(20, 255, 32, 0.726); */
  cursor: pointer;
}

.modal-content{
  background-color: #212529;
}