html{
  background-color: #212529;
}

.container-footer{
  /* position:absolute; */
  color:rgb(245, 245, 245);
  /* background-color: rgba(0, 0, 0, 0.582); */
  /* font-weight: 500;
  bottom: 0px;
  width: auto; */
}

.container-footer a{
  text-decoration: none;
  font-weight: bold;
  color: #9bdaff;
}

.container-footer a:hover{
  color: #1898e2;
}

.card-dolar{
  border-color: #fffd79;
  border-width: medium;
  /* box-shadow: 3px 2px 2px 3px rgba(20, 255, 32, 0.726); */
  cursor: pointer;
}

.card-rulo{
  border-color: #00ff89;
  border-width: medium;
  /* box-shadow: 3px 2px 2px 3px rgba(20, 255, 32, 0.726); */
  cursor: pointer;
}
.card-pf{
  border-color: #9bdaff;
  border-width: medium;
  /* box-shadow: 3px 2px 2px 3px rgba(20, 255, 32, 0.726); */
  cursor: pointer;
}

.card-footer{
  background-color: transparent;
  font-size: small;
  color:gray;
}
.card-footer .monto{
  color: #9bffa8;
  font-size: 1.5rem;
}

.card-footer .montoUsd{
  color: #9bdaff;
  font-size: 1.5rem;
}

.modal-content{
  background-color: #212529;
}

.btn-close{
  color: azure;
}

.input-group-text{
  background-color: #212529;
  color: whitesmoke;
}

.form-control{
  background-color: #212529;
  color:whitesmoke;
}

.text-grey{
  color:grey;
}

.resultados{
  color: #fffd79;
  font-size: 1.7rem;
}