html{
  background-color: #212529;
}

.container-footer{
  position:absolute;
  color:rgb(184, 184, 184);
  background-color: rgba(0, 0, 0, 0.582);
  font-weight: 500;
  bottom: 0px;
  width: auto;
}

.card-dolar{
  border-color: #B3FF85;
  border-width: medium;
  /* box-shadow: 3px 2px 2px 3px rgba(20, 255, 32, 0.726); */
  cursor: pointer;
}

.card-footer{
  background-color: transparent;
  font-size: small;
  color:gray;
}
.card-footer .monto{
  color: #fffd9b;
  font-size: 1.5rem;
}

.modal-content{
  background-color: #212529;
}

.btn-close{
  color: azure;
}

.input-group-text{
  background-color: #212529;
  color: whitesmoke;
}